<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SessionPrefix" value="localhost" />
	  <add key="ConnectionString" value="Data source=DESKTOP-23G1J3M\SQLEXPRESS01;Initial Catalog=sneh_lhh;Integrated Security=True"/>
	  <!--<add key="ConnectionString" value="Data Source=103.253.125.179,5000;Initial Catalog=sneh-lhh;User ID=sneh-lhh;Password=Sneh#123db" />-->
	    <!--<add key="ConnectionString" value="Data Source=184.154.187.166,1433;Initial Catalog=demolhh;User ID=demolhh;Password=Sneh#123db" />-->
	    <!--<add key="ConnectionString" value="Data Source=184.154.187.166;Initial Catalog=demolhh;User ID=sneh-lhh;Password=Sneh#123db" />-->
	  <!--<add key="ConnectionString" value="Data Source=184.154.187.166,1433;Initial Catalog=sneh-lhh;User ID=sneh-lhh;Password=Sneh#123db" />-->
	  
 	<!--<add key="ConnectionString" value="Data Source=108.178.51.226,1533;Initial Catalog=sneh-lhh;User ID=sneh-lhh;Password=Sneh#123db" />
    --><!--<add key="ConnectionString" value="Data Source=108.178.51.226,1533;Initial Catalog=demolhh;User ID=demolhh;Password=Sneh#123db"/>-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="999999" maxRequestLength="2097151" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <customErrors mode="Off" />
    <machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1" />
    <pages enableViewStateMac="false" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
	<sessionState mode="InProc" timeout="1"></sessionState>
  </system.web> 
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>